body button{
    border-radius: 2px;
    background-color:white;
    border:1px solid black;
    border-width:1px 2px 2px 1px;
    font-family: "OCR-A BT";
    font-size:20px;
    float:none;
    display: fixed;
}
#root{
    width:320px;
    border:2px solid black;
    text-align:center;
    height:400px;
    border-radius: 15px;
    padding-bottom:7px;
    padding-top:5px;
    font-family:"OCR-A BT";
}
input{
    font-family:"OCR-A BT";
    font-size:20px;
    border:1px solid black;
    border-width:0.5px 1px 1px 0.5px ;
    text-align: center;
}
.content{
    padding-top:30px;
    overflow:auto;
    height: 320px;
    width:300px;
    font-align:center;
    margin-left:10px;
}
input:focus{
    border:1px solid rgba(0,0,0,0);
    box-shadow: 1px 1px 2px 0 black;

}
body img{
    margin-left:5px;
}
select{
    font-size:20px;
}
.forgot{
    padding-left:175px;
    color:black;
    font-style:italic;
}